* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}

pre {
}

.snippet {
    border-radius: 0.5em;
    overflow: hidden;
    height: max-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}

#content {
    display: grid;
    place-content: center;
    height: 60vh;
}

#red_circle {
    color: rgba(224, 27, 27, 0.85);
}

#yell_circle {
    color: rgba(251, 255, 0, 0.79);
}

#green_circle {
    color: #189b18;
}

.icons_container {
    padding: 0.5em;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.icons {
    padding-left: 0.7em;
    font-size: 0.7em;
}

.code_container {
    padding: 0.7em;
}

pre {
    line-height: 1.5em;
}