* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000d1e;
}

pre {
    color: white;
}

code {
    font-family: Consolas, monospace;
}


.snippet {
    background: rgb(59, 59, 59);
    border-radius: 0.5em;
    overflow: hidden;
    height: max-content;
}

#content {
    display: grid;
    place-content: center;
    height: 60vh;
}

#red_circle {
    color: rgba(224, 27, 27, 0.85);
}

#yell_circle {
    color: rgba(251, 255, 0, 0.79);
}

#green_circle {
    color: #189b18;
}

.icons_container {
    padding: 0.5em;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.icons {
    padding-left: 0.7em;
    font-size: 0.7em;
}

.code_container {
    padding: 0.7em;
    background-color: #2c2c2c;
}

pre {
    line-height: 1.5em;
}